@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    string lastUserAction = (string?)TempData["LastUserAction"] ?? "";
	bool lastActionSuccess = (bool?)TempData["LastActionSuccess"] ?? false;
}
@* User Feedback from last user administration action. Hidden if there's no feedback to be given.*@
<div class=".alert @(string.IsNullOrEmpty(lastUserAction) ? "hidden" : ".alert.show")
    @(lastActionSuccess == true ? ".alert.success" : ".alert.fail")">
    
	<p>@lastUserAction</p>  

</div>

<fieldset>

    <button data-ajax-nav data-action="CreateAdminAccount" type="button" id="btnCreateAccount">Create an Admin Account</button>

    <button data-ajax-nav data-action="CreateGame" type="button" id="btnCreateGame">Create a Gamemode</button>
    
    <button data-ajax-nav data-action="ManageGameState" type="button" id="btnManageGames">Activate/Deactivate Gamemodes</button>

</fieldset>

@* <script defer="defer" type="module"> *@
@*     import { partialLoader } from "/js/ajaxHelpers/partialLoader.js"; *@
@*     $(document).ready(() => { *@

@*         document.getElementById("btnCreateAccount").addEventListener('click', () => { *@
@*             partialLoader(null, "/Admin/CreateAdminAccount", "#page-content", "", false); *@
@*         }); *@

@*         document.getElementById("btnCreateGame").addEventListener('click', () => { *@
@*         partialLoader(null, "/Admin/CreateGame", "#page-content", "", false); *@
@*         }); *@

@*         document.getElementById("btnManageGames").addEventListener('click', () => { *@
@*         partialLoader(null, "/Admin/ManageGames", "#page-content", "", false); *@
@*         }); *@

@*     }) *@
@* </script> *@


@* @await Html.PartialAsync("_GameManagement")      *@
@* @await Html.PartialAsync("_Reports")             *@
@* @await Html.PartialAsync("_AccountManagement")   *@

