@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* User Feedback from last user administration action. Hidden if there's no feedback to be given.*@
<div class=".alert @(string.IsNullOrEmpty(ViewBag.LastUserAction) ? "hidden" : ".alert.show") 
    @(ViewBag.LastUserActionSuccess == true ? ".alert.success" : ".alert.fail")">

	<p>@ViewBag.LastUserAction</p>

</div>

<fieldset>

    <button type="button" id="btnCreateAccount">Create an Admin Account</button>

    <button type="button" id="btnCreateGame">Create a Gamemode</button>
    
    <button type="button" id="btnManageGames">Activate/Deactivate Gamemodes</button>

</fieldset>


@* @await Html.PartialAsync("_GameManagement")      *@
@* @await Html.PartialAsync("_Reports")             *@
@* @await Html.PartialAsync("_AccountManagement")   *@


<script type="module" defer="defer">
    import { partialLoader } from "/js/partialLoader.js";
    $(document).ready(() => {

        document.getElementById("btnCreateAccount").addEventListener('click', () => {
            partialLoader(null, "/Admin/CreateAdminAccount", "#page-content", "", false);
        });

        document.getElementById("btnCreateGame").addEventListener('click', () => {
            partialLoader(null, "/Admin/CreateGame", "#page-content", "", false);
        });

        document.getElementById("btnManageGames").addEventListener('click', () => {
            partialLoader(null, "/Admin/ManageGames", "#page-content", "", false);
        });

    })
</script>
