@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    string lastUserAction = (string?)TempData["LastUserAction"] ?? "";
	bool lastActionSuccess = (bool?)TempData["LastActionSuccess"] ?? false;
}


<fieldset>
    
    <button ajax-action="ManageGameState" id="btnManageGames">Manage Gamemodes</button>

    <button ajax-action="ListAdminAccounts">Manage Admins</button>

    <button ajax-action="ListPlayerAccount">Manage Players</button>

</fieldset>
