@model webWheelOfDeath.Models.CWebGame

@section Scripts {
<script type="module" defer="defer">
    'use strict';
    import FormValidator from '/js/CValidator.js'

    const fv = new FormValidator('frmCreateGame', 'Game', 'Attempts', 'Misses', 'DurationMilliseconds', 'MinBalloons', 'MaxBalloons')

    fv.addRule('Game',        required())
    .addRule('Game',        maxLength(255));

    fv.addRule('Attempts',    numeric())
    .addRule('Attempts',    minValue(1));

    fv.addRule('Misses',      minValue(0))
    .addRule('MaxBalloons', greaterThanField('MinBalloons','Miss Count must not exceed Throw Count'));

    fv.addRule('MaxBalloons', greaterThanField('MinBalloons','Max Balloons must exceed Min Balloons'));

</script>
}

<h4>CWebGame</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGame" id="createGameForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game" class="control-label"></label>
                <input asp-for="Game" class="form-control" />
                <span asp-validation-for="Game" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkDifficultyId" class="control-label"></label>
                <select asp-for="FkDifficultyId" class="form-control"> 
                    <option value="">Select Difficulty</option>
                    @foreach (var difficulty in (IEnumerable<CWebGameDifficulty>)ViewBag.Difficulties)
                    {
                        <option value="@difficulty.Id">@difficulty.Difficulty</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Attempts" class="control-label"></label>
                <input asp-for="Attempts" class="form-control" />
                <span asp-validation-for="Attempts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Misses" class="control-label"></label>
                <input asp-for="Misses" class="form-control" />
                <span asp-validation-for="Misses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationMilliseconds" class="control-label"></label>
                <input asp-for="DurationMilliseconds" class="form-control" />
                <span asp-validation-for="DurationMilliseconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinBalloons" class="control-label"></label>
                <input asp-for="MinBalloons" class="form-control" />
                <span asp-validation-for="MinBalloons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxBalloons" class="control-label"></label>
                <input asp-for="MaxBalloons" class="form-control" />
                <span asp-validation-for="MaxBalloons" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>