@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin";
}


@*

    ToDo: Index should be the Layout, _AdminCentre should be Index(?).
    nvm im stupid
    (i think?)

*@


<!doctype html>
<html lang="en">

    <head>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <link rel="stylesheet" href="/css/admintheme.css"/>
        <script src="~/lib/jquery/dist/jquery.min.js" defer="defer"></script>

        <title>Wheel of Death Admin</title>

    </head>


    <body>

        <main>

            <div id="page-content">

            </div>

        </main>

        <footer>
            Copyright &copy; 2020-24 SRT - Author: Ramin Majidi
        </footer>


        <script type="module" defer>
            import { partialLoader } from "/js/ajaxHelpers/partialLoader.js";

            // initial page load
            const first = '@Url.Action(ViewBag.IsLoggedIn ? "AdminCentre" : "Login", "Admin")';
            $(document).ready(() => partialLoader(null, first, "#page-content", "", false));
        </script>




    </body>

</html>