@*@{
        Layout = null;
    }*@

@model webWheelOfDeath.Models.CCredentials



<!-- <div id="modal-login-id" class="modal-canvas hidden"> this section should be OUTSIDE the partial -->
<div class="main-panel modal-player">
    <span class="close-popup">&#10006;</span>
    <form method="post" asp-action="Login">
        <fieldset>
            <legend>Do You Have What It Takes?</legend>

            <fieldset class="borderless">
                <label asp-for="txtPlayerUsername">Username:</label>
                <input type="text"
                        asp-for="txtPlayerUsername"
                       id="txtPlayerLoginUsername"
                        placeholder="[Enter Username]"
                        required="required" />
            </fieldset>


            <fieldset class="borderless">
                <label asp-for="txtPlayerPassword">Password:</label>
                <input type="text"
                        asp-for="txtPlayerPassword"
                       id="txtPlayerLoginPassword"
                        placeholder="[Enter Password]"
                        required="required" />
            </fieldset>

            <button type="button" name="btnCreateAccount" class="ornate">Create Account</button>
            <button type="submit" name="btnLogin" class="ornate">Log In</button>
        </fieldset>
    </form>
</div>
<!-- </div> -->












