
<main>
    <div>
        <div id="knife-gallery"></div>

        <img src="pics/Left_Thrower.png"
        class="knife_thrower"
        alt="Knife thrower on left"
        height="2566"
        width="1887" />

        <div class="wheel-outer-frame">
            <figure class="wheel-inner-frame">
                <img id="wheel"
                src="pics/Wheel.jpg"
                alt="Wheel of Death"
                height="2820"
                width="2820" />

                <div id="victim">
                    <img class="big-knife hidden" src="pics/Knife-Angled.png" alt="killer knife" />
                </div>
                <div id="below-the-belt">&nbsp;</div>
            </figure>

        </div>

        <img src="pics/Right_Thrower.png"
        class="knife_thrower"
        alt="Knife thrower on right"
        height="2669"
        width="1648" />
    </div>

    <button id="btnStartStop" name="btnStartStop" type="button" class="ornate rounded">Start</button>
    <button id="btnHallOfFame" name="btnHallOfFame" type="button" class="ornate rounded">View Hall Of Fame</button>

    <div class="time-panel" id="time-panel-1">

        <span class="countdown-max-seconds"></span>
        <meter class="countdown-gauge" min="0" value="0" max="30000"></meter>
        <span>0</span>
        <span class="countdown-remaining"></span>
    </div>

    <h2 id="scorePanel">&nbsp;</h2>

    <div id="statusPanel" class="hidden stopped">&nbsp;</div>


    @* create a form tag (could just use HTML, but this helps keep things in sync, i.e. when refactoring) *@
    @*@using (Html.BeginForm())
    {
    <p>
        Html.TextAreaFor(x => x.Body)
    </p>
    }*@


    @*
    TROUBLESHOOTING STEPS:
    0. debug using browser breakpoints.
    0.5 debug using serverside breakpoints.
    1. clear browser cashe.
    2. delete project .vs hidden file.
    3. use ClearModelState is server side code.
    4. Check that AJAX is correctly intercepting the form submission and preventing the default action.
    6. Check that the form is not submitting (it's the button, fix the submit button and event.preventDefault).
    7. check that the form IS submitting (remove event.preventDefault)
    8. make sure that the events are being attached properly to newly-loaded elements
    *@

    <div id="page-content">
        @*
			This is where the main page content will be loaded.
        *@
    </div>


    @*  ##################################################################  *@
    @*  ################  Welcome... to hell (partially)  ################  *@
    @*  ##################################################################  *@

    @*On page load, bring down the _Login partial, OR the _GameSelection partial, depending on login status.*@
    <script type="module" defer="defer">
        import { partialLoader } from "/js/ajaxHelpers/partialLoader.js";


        const loginUrl = '@Url.Action(ViewBag.IsLoggedIn ? "GameSelection" : "Login", "Game")';
        @* If the user is logged in, load game selection, otherwise load the login form. *@


        $(document).ready( () => {
        // ToDo: change name of "form" property in customevent detail (in partialLoader) to "element"

        @* Load the login form if the user is NOT logged in, and the game selection partial if they are. *@
        partialLoader(null, loginUrl, '#page-content', 'login-form', false);

        $(document).on("click", "#btnHallOfFame", function (event) {

            event.preventDefault();
            var formData = $(this).serialize()

            partialLoader(formData, "/Game/HallOfFameHigh", "#page-content", "login-form", true);
            });
        });
    </script>
        
</main>
