@using LibWheelOfDeath
@using System.Data
@using Microsoft.Data.SqlClient
@using LibEntity

@*
    TODO: SEPERATE YOUR CONCERNS, DUMBLEDOOR
    (remove webWheelOfDeath reference and code, move to model)
*@

@* @model webWheelOfDeath.Models.CCredentials; *@


@{
    ViewData["Title"] = "Home Page";
}

<!--
Date: 2020-23
Author: Ramin Majidi
Purpose: This and all other code elements of this project (unless otherwise commented) are the work of the
author and may be used for TAFE Assessment purposes only.

Date: 2024-25
Co-Author: Angus Blake
Purpose: The HTML, CSS and JavaScript components of this application were written laregly by the author. However,
the Co-Author migrated this application from a static website to a significantly more complex SPA (single-page application) 
capable of storing and retreving information from a central server.
Framework: Razor MVC (.NET Core). AJAX/Fetch are used in combination with Partial Views to load content dynamically without reloading the entire page.
-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Wheel of Death</title>
    <link href="pics/Wheel_of_Death.png" rel="icon" />
    <link rel="stylesheet" href="/css/lib/modal.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/statusPanel.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/reporttheme.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>

<body class="shadow-text">
    <header>
        <img class="logo"
        src="pics/Wheel_of_Death_Logo.png"
        alt="Wheel of Death"
        height="159"
        width="667" />
    </header>

    <main>
        <div>
            <div id="knife-gallery"></div>

            <img src="pics/Left_Thrower.png"
            class="knife_thrower"
            alt="Knife thrower on left"
            height="2566"
            width="1887" />

            <div class="wheel-outer-frame">
                <figure class="wheel-inner-frame">
                    <img id="wheel"
                    src="pics/Wheel.jpg"
                    alt="Wheel of Death"
                    height="2820"
                    width="2820" />

                    <div id="victim">
                        <img class="big-knife hidden" src="pics/Knife-Angled.png" alt="killer knife" />
                    </div>
                    <div id="below-the-belt">&nbsp;</div>
                </figure>

            </div>

            <img src="pics/Right_Thrower.png"
            class="knife_thrower"
            alt="Knife thrower on right"
            height="2669"
            width="1648" />
        </div>

        <button id="btnStartStop" name="btnStartStop" type="button" class="ornate rounded">Start</button>
        <button id="btnHallOfFame" name="btnHallOfFame" type="button" class="ornate rounded">View Hall Of Fame</button>

        <div class="time-panel" id="time-panel-1">

            <span class="countdown-max-seconds"></span>
            <meter class="countdown-gauge" min="0" value="0" max="30000"></meter>
            <span>0</span>
            <span class="countdown-remaining"></span>
        </div>

        <h2 id="scorePanel">&nbsp;</h2>

        <div id="statusPanel" class="hidden stopped">&nbsp;</div>


        @* create a form tag (could just use HTML, but this helps keep things in sync, i.e. when refactoring) *@
        @*@using (Html.BeginForm())
        {
        <p>
            Html.TextAreaFor(x => x.Body)
        </p>
        }*@


        @*
        TROUBLESHOOTING STEPS:
        0. debug using browser breakpoints.
        0.5 debug using serverside breakpoints.
        1. clear browser cashe.
        2. delete project .vs hidden file.
        3. use ClearModelState is server side code.
        4. Check that AJAX is correctly intercepting the form submission and preventing the default action.
        6. Check that the form is not submitting (it's the button, fix the submit button and event.preventDefault).
        7. check that the form IS submitting (remove event.preventDefault)
        8. make sure that the events are being attached properly to newly-loaded elements
        *@

        <div id="page-content">
            @*
				This is where the main page content will be loaded.
            *@
        </div>



        <!-- The following div elements act as a modal canvas for pop-up messages -->
        <div id="modal-message-id" class="modal-canvas hidden">
            <div class="main-panel modal-error">
                <span class="close-popup">&#10006;</span>
                <p class="message-display">&nbsp;</p>
            </div>
        </div>


        @*  ##################################################################  *@
        @*  ################  Welcome... to hell (partially)  ################  *@
        @*  ##################################################################  *@

        @*On page load, bring down the _Login partial, OR the _GameSelection partial, depending on login status.*@
        <script type="module" defer="defer">
            import { partialLoader } from "/js/partialLoader.js";


            const loginUrl = '@Url.Action(ViewBag.IsLoggedIn ? "GameSelection" : "Login", "GameAjax")';
            @* If the user is logged in, load game selection, otherwise load the login form. *@


            $(document).ready( () => {
            // ToDo: change name of "form" property in customevent detail (in partialLoader) to "element"

            @* Load the login form if the user is NOT logged in, and the game selection partial if they are. *@
            partialLoader(null, loginUrl, '#page-content', 'login-form', false);

            $(document).on("click", "#btnHallOfFame", function (event) {

                event.preventDefault();
                var formData = $(this).serialize()

                partialLoader(formData, "/GameAjax/HallOfFameHigh", "#page-content", "login-form", true);
                });
            });
        </script>
        
        <script type="module" defer="defer">
            /* ##### INDEX ##### */
            import { partialLoader } from "/js/partialLoader.js";

            $(document).ready(() => {
                $(document).on("click", "#btnStartStop", function (event) {
                    if ( !@(ViewBag.IsLoggedIn ? "true" : "false") ) {
                        event.preventDefault();
                        var formData = $(this).serialize()
                        partialLoader(formData, "/GameAjax/Login", "#page-content", "login-form", true);
                    }
                });
            });
        </script>
        
    </main>

    <footer>
        Copyright &copy; 2020-24 SRT - Author: Ramin Majidi. 
        Extended by Angus Blake for educational purposes.
    </footer>
</body>

</html>
