@using System.Text.Json
@using webWheelOfDeath.Models.Infrastructure

@{
    FeedbackMessage? feedback = null;

    // Check ViewBag first (current request)
    if (ViewBag._Feedback != null)
    {
        feedback = ViewBag._Feedback as FeedbackMessage;
    }
    // Then check TempData (after redirect)
    else if (TempData["_Feedback"] != null)
    {
        feedback = JsonSerializer.Deserialize<FeedbackMessage>(TempData["_Feedback"].ToString());
        TempData.Remove("_Feedback"); // ensure it's cleared, prevent BLOODY GHOST DATA DAMN IT!!!!!
    }
}


@if (feedback != null)
{
    <div id="server-feedback"
         data-feedback-type="@((int)feedback.Type)"
         data-feedback-type-name="@feedback.Type.ToString()"
         data-feedback-message="@feedback.Message"
         data-feedback-duration="@(feedback.Duration ?? 5000)">
    </div>
}