
@model webWheelOfDeath.Models.ViewModels.CredentialsViewModel;


@*
    This is a partial view for the login form.
    It is included in the main view (Index.cshtml) using the following syntax:
    @Html.Partial("_LoginPartial", Model)
    The model passed to this partial view should be of type CCredentials.
*@ 


@if ((Model.LoginAttemptFailed??"").Length > 0)
{
    <script type="module">
        new window.CMessageModal('#modal-message-id').display('@Model.LoginAttemptFailed', false, 5000);
    </script>
}


<div class="main-panel modal-player">
    <span class="close-popup">&#10006;</span>
    <form 
        data-ajax-form 
        method="post" 
        asp-action="Authenticate">

        <fieldset>
            <legend>Do You Have What It Takes?</legend>

            <fieldset class="borderless">
                <label asp-for="Username">Username:</label>
                <input type="text"
                asp-for="Username"
                id="LoginUsername"
                placeholder="[Enter Username]"
                required="required" />
            </fieldset>


            <fieldset class="borderless">
                <label asp-for="Password">Password:</label>
                <input type="password"
                asp-for="Password"
                id="LoginPassword"
                placeholder="[Enter Password]"
                required="required" />
            </fieldset>

            @* If the Index page calling this partial is not Game, it's Admin -- and admins cannot create accounts from their login page*@
            @* ...so best we stop the cheeky buggers in their tracks. *@
            @if(((string?)Context.Session.GetString("Controller") ?? "") != "Admin")
            {
                <button 
                    @* No data attributes--this is handled by CAccountPopups, as it's a modal, not a partial*@
                    type="button"
                    name="btnCreateAccount"
                    id="btnCreateAccount"
                    class="ornate">Create Account</button>
            }
            <button 
                @* Note: no data attributes, this is a submit. the form contains the attributes*@
                type="submit"
                name="btnLogin"
                class="ornate">Log In</button>
        </fieldset>
    </form>
</div>